@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

/* BASE STYLES */

html {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #000028 0%, #009999 100%);
  display: block;
  min-height: 100vh;
  color: white;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  font-weight: 500;
}

p {
  margin: 20px 0 10px;
  font-size: 1.1rem;
}

/* NAVIGATION */
.navbar {
  padding: 0.8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.logo {
  top: 30px;
  left: 100px;
  margin: 50px 50px 50px 50px;
  font-size: 2rem;
  font-weight: 700;
  display: inline;
  color: white;
}

section {
  display: flex;
  align-items: center;
  padding: 100px;
  margin-top: 60px;
}

section.home {
  flex-direction: row;
}

/* GALLERY PAGE*/

.carousel-item img {
  width: 50%;
  margin: auto;
  /* align-items: center; */
}

.d-block {
  display: block !important;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 50%;
}

.w-100 {
  width: 50% !important;
}

.carousel-item p {
  margin: auto;
  text-align: center;
}

/* .carousel-indicators {
  margin-top: 10px;
  margin-bottom: 10px;
} */
